@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400..700;1,400..700&display=swap");
$ff-headings: "Raleway", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400..700&display=swap");
$ff-body: "Open Sans", sans-serif;

$c-p-intro-n-sign-up: hsl(217, 28%, 15%);
$c-p-main: hsl(218, 28%, 13%);
$c-p-footer: hsl(216, 53%, 9%);
$c-p-testimonials: hsl(219, 30%, 18%);

$c-gr1: hsl(176, 68%, 64%);
$c-gr2: hsl(198, 60%, 50%);
$gr: linear-gradient(to right, $c-gr1, $c-gr2);
$c-a-error: hsl(0, 100%, 63%);

$c-n: #f0f0f0;
$c-n-d: #d9d9d9;

$max-width: 75rem;
$max-width-small: 55rem;
$gap: min(5%, 3rem);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.image {
	&__svg {
		height: 100%;
		max-width: 100%;
		object-position: inherit;
		object-fit: cover;
	}
}

.header {
	width: 100%;
	background: bottom / contain no-repeat;
	background-image: url(./images/bg-curvy-desktop.svg);
	background-color: $c-p-intro-n-sign-up;
}

.nav {
	max-width: $max-width;
	height: 10rem;
	background-color: $c-p-intro-n-sign-up;
	margin: 0 auto;
	padding: 0 $gap;
	display: flex;
	align-items: center;
	gap: $gap;

	&__logo {
		margin-right: auto;
		height: 3rem;
	}

	&__link {
		font-family: $ff-body;
		color: $c-n-d;
		text-decoration: none;
	}
}

.intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 2rem;
	padding: 0 5%;
	padding-bottom: 15rem;

	&__image {
		height: 32rem;
	}

	&__title {
		font-family: $ff-headings;
		font-size: 2.2rem;
		color: $c-n;
		max-width: 30ch;
	}

	&__text {
		font-family: $ff-body;
		font-size: 1.2rem;
		color: $c-n-d;
		max-width: 55ch;
	}

	&__button {
		padding: 2ch;
		max-width: 30ch;
		width: 100%;
		border: 0;
		border-radius: 50px;
		background-image: $gr;
		font-family: $ff-headings;
		font-weight: 600;
		color: $c-n;
	}
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10rem;
	background-color: $c-p-main;
	padding: 0 5%;
}

.feature-container {
	max-width: $max-width-small;
	width: 100%;
	display: grid;
	justify-content: space-between;
	grid-template-columns: 1fr 1fr;
	row-gap: 5rem;
	column-gap: 2rem;
}

.feature {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	text-align: center;
	max-width: 45ch;

	&:nth-child(even) {
		justify-self: right;
	}

	&__image {
		height: 4.5rem;
	}

	&__title {
		font-family: $ff-headings;
		font-weight: 600;
		font-size: 1.2rem;
		color: $c-n;
	}

	&__text {
		font-family: $ff-body;
		font-size: 0.8rem;
		color: $c-n;
	}
}

.pitch {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: $max-width;
	align-items: center;
	gap: 1rem;

	&__image {
		height: 28rem;
		object-position: right;
	}

	&__text-wrapper {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	&__title {
		font-family: $ff-headings;
		font-size: 2.4rem;
		font-weight: 600;
		color: $c-n;
		max-width: 20ch;
	}

	&__text {
		font-family: $ff-body;
		color: $c-n-d;
		max-width: 60ch;
	}

	&__link {
		font-family: $ff-body;
		color: $c-gr1;
		text-decoration: none;
		position: relative;
		padding-bottom: 1ch;
		border-bottom: 1px solid $c-gr1;
		width: max-content;
	}

	&__icon {
		vertical-align: bottom;
		height: 1rem;
	}
}

.testimonial-container {
	max-width: $max-width;
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.testimonial {
	background-color: $c-p-testimonials;
	line-height: 3ch;
	padding: 4ch;
	display: grid;
	grid-template-columns: min-content auto;
	align-items: center;
	column-gap: 1rem;
	border-radius: 0.25rem;

	&__text {
		max-width: 36ch;
		grid-column: 1/3;
		font-family: $ff-body;
		font-size: 0.9rem;
		color: $c-n-d;
		margin-top: 1ch;
		margin-bottom: 2ch;
	}

	&__avatar {
		grid-row: 2/4;
		height: 1.5rem;
		width: 1.5rem;
		border-radius: 50%;
		overflow: hidden;
	}

	&__user {
		font-family: $ff-headings;
		font-size: 0.7rem;
		color: $c-n-d;
		align-self: end;
		line-height: 3ch;
	}

	&__position {
		font-family: $ff-body;
		font-size: 0.5rem;
		color: $c-n-d;
		align-self: start;
		line-height: 3ch;
	}

	&:nth-child(1) {
		position: relative;

		&::before {
			position: absolute;
			content: url(./images/bg-quotes.png);
			background: top left / contain no-repeat;
			inset: -2.2rem auto auto -0.5rem;
		}
	}
}

.tag {
	max-width: $max-width-small;
	width: 100%;
	background-color: $c-p-intro-n-sign-up;
	text-align: center;
	padding: 3rem $gap;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	transform: translateY(5rem);
	margin-top: -5rem;

	&__title {
		font-family: $ff-headings;
		font-weight: 600;
		font-size: 2rem;
		color: $c-n;
	}

	&__text {
		font-family: $ff-body;
		max-width: 80ch;
		font-size: 0.9rem;
		color: $c-n-d;
	}

	&__signup {
		width: 100%;
		display: flex;
		justify-content: space-between;
		gap: $gap;
	}

	&__email {
		all: unset;
		background-color: white;
		border-radius: 50px;
		padding: 1.5ch 5%;
		width: 100%;

		&::placeholder {
			font-family: $ff-headings;
			font-size: 0.8rem;
			text-align: left;
			opacity: 0.3;
		}
	}

	&__button {
		background-image: $gr;
		border: none;
		border-radius: 50px;
		padding: 1.5ch;
		max-width: 25ch;
		width: 100%;
		font-family: $ff-body;
		font-weight: 600;
		color: $c-n;
	}
}

.footer {
	background-color: $c-p-footer;
	padding: 10rem 5%;
	color: $c-n-d;

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		max-width: $max-width;
		margin: 0 auto;
		row-gap: 2rem;
		column-gap: 5%;
	}

	&__logo {
		flex-basis: 100%;
		height: 3rem;
	}

	&__column {
		flex-grow: 1;
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	&__info {
		display: grid;
		grid-template-columns: 3rem minmax(0, auto);
		align-items: center;
	}

	&__icon {
		height: 1.2rem;
	}

	&__text {
		font-family: $ff-body;
		max-width: 36ch;
		overflow-wrap: break-word;
	}

	&__item {
		font-family: $ff-body;
	}

	&__social-container {
		display: flex;
		gap: 1ch;
		margin-left: auto;
	}

	&__social {
		box-sizing: content-box;
		height: 1rem;
		border: 1px solid $c-n;
		padding: 0.5rem;
		border-radius: 50%;
	}

	&__attribution {
		flex-basis: 100%;
		font-family: $ff-body;
		color: $c-n-d;

		a {
			color: $c-gr1;
		}
	}
}
