@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400..700;1,400..700&display=swap");
$ff-headings: "Raleway", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400..700&display=swap");
$ff-body: "Open Sans", sans-serif;

$c-p-intro-n-sign-up: hsl(217, 28%, 15%);
$c-p-main: hsl(218, 28%, 13%);
$c-p-footer: hsl(216, 53%, 9%);
$c-p-testimonials: hsl(219, 30%, 18%);

$c-a-gradient1: hsl(176, 68%, 64%);
$c-a-gradient2: hsl(198, 60%, 50%);
$c-a-error: hsl(0, 100%, 63%);

$c-n: hsl(0, 0%, 100%);

$max-width: 80rem;
$gap: min(5%, 3rem);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: $c-n;
}

body {
	background-color: $c-p-main;
	padding: 5rem $gap;
}

.image {
	&__svg {
		height: 100%;
		object-fit: cover;
	}
}

.nav {
	max-width: $max-width;
	margin: 0 auto;
	display: flex;
	align-items: center;
	gap: $gap;
	margin-bottom: 5rem;

	&__logo {
		margin-right: auto;
		height: 3rem;
	}

	&__link {
		font-family: $ff-body;
	}
}
